name: Deploy Angular App to IIS

on:
  push:
    branches:
      - dev

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16

    - name: Install Dependencies
      run: npm ci

    - name: Build Angular App
      run: npm run build -- --configuration=production

    - name: Prepare SSH Key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.IIS_SERVER_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.IIS_SERVER_HOST }} >> ~/.ssh/known_hosts
      shell: bash

    - name: Test SSH Connection
      run: ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa ${{ secrets.IIS_SERVER_USER }}@${{ secrets.IIS_SERVER_HOST }} "echo 'SSH connection successful'"
      shell: bash

    - name: Deploy to IIS Server
      run: |
        rsync -avz -e "ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa" ./dist/my-angular9-app/ ${{ secrets.IIS_SERVER_USER }}@${{ secrets.IIS_SERVER_HOST }}:/inetpub/wwwroot/my-angular9-app/
      shell: bash
